<!DOCTYPE html>
<html>
<head>
    <title>Test socket.io</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost');
        socket.on('eventClient', function (data) {
            console.log(data);
        });
        socket.emit('eventServer', { data: 'Hello Server' });
    </script>
</head>
<body>

</body>
</html>