<div class="row pb-3">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="col-md-6">№<%= note.id %></h5>
        <div class="col-md-6 buttons_form row d-flex flex-row-reverse">
            <button class="btn btn-link icon-align-center text-dark col-md-1 p-0 pl-3"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex w-100 justify-content-between">
        <p class="col-md-11"><%= note.body %></p>
        <form action="/api/v1/profile/notes/<%= note.id %>" method="post" class="col-md-1 row">
            <button type="submit" class="col-md-6 btn btn-link icon-align text-danger" name="false"><i class="fa fa-thumbs-down fa-lg"></i></button>
            <button type="submit" class="col-md-6 btn btn-link icon-align text-success" name="true"><i class="fa fa-thumbs-up fa-lg"></i></button>
        </form>
    </div>
</div>
<div>
    <small class="text-center"><%= note.creation_date %></small>
</div>





